.update{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
}
.container{
    display: flex;
    flex-direction: column;
    gap: 20px;
   background-color: #032539;
    padding: 20px;
    width: fit-content;
    border-radius: 10px;
}
.name{
    display: flex;
    flex-direction: row;
    
}
.name input{
    border-radius: 20px;
    outline: none;
    border: none;
    font-size: 1.01rem;
    padding: 10px;
    width: 400px;
}
.name input::placeholder{
color: #032539b3;
text-align: center;
}
.epp{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.epp input{
    border-radius: 20px;
    outline: none;
    border: none;
    width: 400px;
    font-size: 1.01rem;
    padding: 10px;
}
.epp input::placeholder{
color: #032539b3;
text-align: center;
}

.updatebtn{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    
}
.updatebtn button{
    border-radius: 20px;
    cursor: pointer;
    outline: none;
    color: aliceblue;
    border: 1px solid black;
    font-size: 1.01rem;
    padding: 10px;
    background-color: black;
}
.signup h2{
    text-align: center;
    font-style: italic;
}
.container input{
    text-align: center;
}