


body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #032539;
  
  
 
}


* {
  box-sizing: border-box;
  padding: 3px 10px ;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}


