
.page{
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.featured{
    
    height:fit-content;
    padding: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
    
}
.fb{
    text-align:center;
    font-style: italic;
    font-size: 2.4rem;
}
.fb h1{
    text-align:center;
    font-style: italic;
    color: rgba(255, 255, 0, 0.801);
}
.fb h2{
    text-align:center;
    font-style: italic;
    color: rgba(81, 255, 0, 0.788);
}
.featureddetails{
    
    display: flex;
    flex-direction: column;
    text-align: start;
    gap: 10px;
    width: 350px;
    border-right: 2px solid black;
}
.featureddetails h1{
    color: rgba(255, 255, 0, 0.89);
    font-style: italic;
}
.featureddetails h2{
    color: rgba(69, 245, 0, 0.836);
    font-style: italic;
}
.featureddetails:hover{
     background-color: rgba(0, 0, 0, 0.205);
     transform: scale(1.08);
     border-radius: 30px;
     box-shadow: 5px 10px rgba(0, 0, 0, 0.637);
}
