.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    
    
    
   
}
.nav a{
    color: wheat;
    font-size: 1.1rem;
    text-decoration: none;
    
    

}
.links{
    display: flex;
    gap: 20px;
}
.nav a:hover{
    color: yellowgreen;
}

.search{
    display: flex;
    align-items: center;
}
.search input{
    width: 300px;
    padding: 10px;
    border-radius: 10px 0px 0px 10px;
    outline: none;
    font-size: 1.01rem;
    font-style: italic;
    border: 1px solid black;

}
.logo{
    font-size: 1.4rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: green;
}
.search input::placeholder{
    color: black;
    font-size: 1.01rem;
}
.search button{
    margin-right: 10px;
    padding: 10px;
    border-radius: 0px 10px 10px 0px;
    outline: none;
    border: 1px solid black;
    font-size: 1.01rem;
    background-color: black;
    color: white;
}