.search input::placeholder{
    color: rgba(116, 111, 111, 0.842);
    font-size: 1.11rem;
    font-style: italic;
    text-align: center;
    
}

.search{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.search input{
    width: 700px;
    min-width: 300px;
    padding: 15px 10px;
    border-radius: 10px 10px 10px 10px;
    outline: none;
    color: white;
    font-size: 1.01rem;
    background: transparent;
    font-style: italic;
    border: 1px solid black;

}
.searchresults{
    width: 700px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 300px auto;
    margin-top:0px;
    height: fit-content;
    justify-content: center;
    max-height: 500px;
    padding: 10px;
     border-radius: 10px 10px 10px 10px;
    background-color: rgba(0, 0, 0, 0.226);
    color: aliceblue;
    overflow-y: scroll;
    gap: 5px;
}
.searchresults a:hover{
    color: beige;
    background-color: rgb(14, 27, 27);
    width: 100%;
}
.searchresults h2{
    color: beige;
    padding: 10px auto;
    height: 30px;
    max-width: 500px;
    overflow-x: hidden;
    overflow-y: hidden;
    word-break: break-all;
}